.root{
    -fx-padding: 10px;
    -fx-background-color: greenyellow;
}
.line{
    -fx-min-height: 25px;
    -fx-end-margin: 25px;

}
#labelUnits{
    -fx-min-width: 50px;
}
#labelRslt{
    -fx-min-width: 100px;

}
.label-border{
    -fx-border-color: black;
    -fx-border-radius: 2px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}