.root{
    -fx-background-color:linear-gradient( #ffc86a, #ffec5e);
    -fx-padding: 10px;

}
.label{
    -fx-min-width: 100px;
}

.custom-css{
    -fx-background-color: #5da8ff;
}

#id-css{
    /*stlesy here*/
}